
body{
	width: 650px;
	margin: 0 auto;
}
p {
	text-align: justify;
}
ul li {
	display: inline;
	margin: 20px;
}

.feedBack {
	display: none;
	color: white;
	background-color: red;
	transform: uppercase ;
	padding : 10px;
}